* {
    font-family: consolas; 
    line-height: 2.0;
}

:root {
    scroll-behavior: smooth;
    --main-bg-dark: #07004D;
    --main-bg-light: #2D82B7;
    --secondary-bg: #F3DFBF;
    --main-accent: #1CB089;
    --secondary-accent-dark: #E1515A;
    --secondary-accent-light: #ED969C;
  }

a {
    color: var(--main-accent);
}

a:hover {
    color: var(--secondary-accent-dark);
}

h3 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    font-weight: bold;
    font-size: 35pt;
}

.container-fluid {
    padding-bottom: 3rem;
}

.material-icons, .devicon-github-original {
    display: inline-flex; 
    vertical-align: text-bottom;
    font-size: 1.2rem;
    color: white;
    margin-right: 0.5rem;
}

#contact-button {
    background-color: var(--main-bg-dark);
    position: absolute;
    right: 10px;
    top: 20px;
    padding: 0.5em;
    border: none;
    justify-content: center;
    text-align: center;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: flex;
    z-index: 1000;
    opacity: 0;
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

#contact-button > .material-icons {
    margin: 0;
    display: inline-flex;
    align-items: center;
}

#contact-button:hover {
    background-color: var(--secondary-accent-dark);
}

#contact {
    width: 20rem;
    position: absolute;
    top: 15px;
    right: 10px;
}

.contact-title {
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    margin: 0;
    padding-right: 2.8rem;
    color: var(--main-accent);
    font-weight: 800;
}

#contact-text {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    text-align: right;
}

.contact-list {
    list-style: none;
    margin: 0;
    padding:  0 0rem 1rem 1rem;
}

.contact-link {
    color: white;
}

.contact-link:hover {
    text-decoration: none;
    text-shadow: 2px 2px 0px var(--main-bg-dark);
}

.contact-icon {
    margin-left: 0.5rem;
}

#navbar-list {    
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 1em;
    flex-wrap: wrap;
    text-align: left;
    margin: 0 0 1em 0;
    color: white;
    opacity: 0;
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

#navbar-list > li {
    margin: 0.5rem;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.2s ease-in-out;
}

#navbar-list > li > a {
    color: white;
    text-decoration: none;
}

#navbar-list > li:hover {
    border-bottom: 3px solid var(--main-accent);
}

#scroll-down {
    margin-top: 1rem;
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

#scroll-down > a {
    text-decoration: none;
}

#scroll-down > a > i {
    transition: text-shadow 0.2s linear;
}

#scroll-down:hover > a > i {
    border-radius: 50%;
    text-shadow: 0px 1rem #EFE9F4,
                 0px -1rem #EFE9F4;
}

#hero {
    text-shadow: 2px 2px 2px var(--main-bg-dark);
}

.hero-text {
    text-align:center;
    color: #EFE9F4;
    z-index: 1000;
    display: block;
    position: absolute;
}

#name {
    opacity: 0;
    line-height: 1.5;
    font-size: 3.8rem;
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#blurb {
    font-size: 1.2rem;
}

#blink {
    animation: blink 0.8s step-end infinite;
}

#particles-js {
    background: linear-gradient(-30deg, var(--main-bg-dark), var(--main-bg-light));
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Anton', sans-serif;
    justify-content: center;
    align-items: center;
}

.section {
    padding: 4em;
    text-align: center;
}

.section-body {
    max-width: 900px;
    font-size: 1.2em;
    display: inline-block;
}

#education {
    background-color: var(--secondary-bg);
}

.edu-logo {
    height: 100%;
    width: 100%;
    max-width: 400px;
}

.proj-item {
    justify-content: center;
}

.left-part {
    text-align: right;
    min-width: 33.33%;
    width: 80%;
    margin-left: auto;
}

.proj-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    padding: 2px;
    background: gray;
}

.right-part {
    width: 80%;
    margin-right: auto;
    text-align: left;
    min-width: 33.33%;
}

.git-link {
    width: 2rem;
    transition: transform 250ms cubic-bezier(.2,.8,.4,1);
}

.git-link:hover {
    transform: scale(1.10);
}

#built-with {
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: baseline
}

#built-with > li {
    margin: 0 5px;    
}

#built-with > li > img {
    width: 25px;
    height: 25px;
    margin: 0;
}

#skills {
    background: var(--main-bg-dark);
    color:white;
    padding: 0 25% 0 25%;
}

.skill-title {
    text-align: right;
}

.skill-list {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    padding: 0;
}

.skill-list > li {
    width: 80px;
    height: 80px;
    background: var(--main-accent);
    box-shadow: 5px 5px var(--secondary-accent-dark);
    border-radius: 5px;
    margin: 0 0.8rem 1.6rem 0.8rem;
    padding: 1rem;
    transition: all 100ms;
    display: flex;
    align-items: center;
}

.skill-list > li:hover {
    box-shadow: 10px 10px var(--secondary-accent-dark);
    transition: box-shadow 100ms linear;
}

.skill-img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    /* -webkit-box-reflect: below 1px 
            -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.4))) */
}

.skill-list > li > div {
    display: none;
    color: var(--secondary-accent-dark);
    position: absolute;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    text-align: center;
    font-size: 0.9rem;
}

.skill-list > li:hover > div {
    transform: translateY(-5px);
}

#model-select {
    display: flex; 
    list-style: none; 
    flex-wrap: wrap; 
    color: white;
    margin: 0 auto;
    justify-content: center;
    padding: 1rem 0;
}

#model-select > li {
    border: 3px solid transparent;
    margin: 0;
    padding: 3px;
}

#model-select > li > label {
    margin: 0;
}

#model-select > li:hover {
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-radius: 25%;
}

input[type=radio] {
    display: none;
}

@keyframes blink {
    67% { opacity: 0 }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; transform: translateY(-10px); }
}

@media only screen and (max-width: 1000px) {
    #navbar-list > li > a > .material-icons {
        margin-right: 0;
    }

    .col-4, .col-8 {
        flex: 100%;
        max-width: 100%;
    }

    .nav-text {
        font-size: 0;
    }

    .edu {
        text-align: center;
    }

    .left-part {
        margin: 0 auto;
        min-width: 80vw;
    }

    .right-part {
        margin: 0 auto;
        min-width: 80vw;
    }

    #skills {
        padding: 0;
    }

    .skill-title {
        text-align: left;
    }
}